@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body{
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

h2{
    text-align: center;
    color: #FFF;
    font-size: 26px;
    line-height: 38px;
    margin-top: 126px;
    margin-bottom: 26px;
}

input {
    width: 342px;
    height: 74px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 14px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 40px;
    color: #fff;
    opacity: .7;
}

.input-min{
    margin-right: 62px;
}

button{
    background: #AEC346;
    box-shadow: 0px 18px 40px 0px rgba(174, 195, 70, 0.35);
    border-radius: 10px;
    width: 342px;
    height: 72px;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    margin-top: 80px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:750px){
    img{
        width: 340px;
    }

    input{
        width: 150px;
        height: 50px;
        font-size: 30px;
    }

    button{
        width: 200px;
        height: 45px;
        font-size: 20px;
    }
}

@media screen and (max-width:370px){
    img{
        width: 240px;
    }

    input{
        width: 80px;
        height: 50px;
        font-size: 20px;
    }

    button{
        width: 160px;
        height: 45px;
        font-size: 16px;
    }
}